<mat-card>
  <img mat-card-image src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}">
  <mat-card-title>{{comic.title}}</mat-card-title>
  <mat-card-title>Price: {{comic.prices[0].price}}</mat-card-title>
  <mat-card-footer>
    <a [routerLink]="['/comics',comic.id]" target="" fxFlex mat-flat-button color="primary">See more</a>
  </mat-card-footer>
  <mat-card-title *ngIf="filterByRol(comic.creators.items, 'editor').length > 0">
    Editor<span
      *ngIf="filterByRol(comic.creators.items, 'editor').length > 1"
      >s</span
    >
  </mat-card-title>
  <div *ngFor="let creator of filterByRol(comic.creators.items, 'editor')">
    <mat-card-title>{{ creator.name }}</mat-card-title>
  </div>
</mat-card>