.imageDetail img{
    height: 545px;
    width: 500px;
    display: block;
    margin: auto;
}
.imageDetail{
    background-color: #424e87;
    padding: 20px;
    border-radius: 10px;
}
.framework {
    padding: 50px;
}
.framework img {
    border-radius: 10px;
}

.element {
    padding: 10px;
}
.row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #141b38;

}
.row p{
    color: #ffffff;
}
.framework a span{
    color: #ffffff;
}

.characters img
{
    display: block;
    height: 154px;
    width: 150px;
    margin: 0;
}
.charactersList p{
    color: #141b38;
}
.charactersList{
    margin-top: 20px;
}
.charactersList span{
    color: #ffffff;
}
.creators img
{
    display: block;
    height: 154px;
    width: 150px;
}
.creatorsList p{
    color: #141b38;
}
.creatorsList{
    margin-top: 20px;
}
.creatorsList span{
    color: #ffffff;
}
.creatorRow{
    padding-top: 10px;
    padding-bottom: 10px;
}