.imageDetail img{
    height: 545px;
    width: 500px;
    display: block;
    margin: auto;
}
.imageDetail{
    background-color: #424e87;
    padding: 20px;
    border-radius: 10px;
    color: #141b38;
}
.framework {
    padding: 50px;
}
.framework img {
    border-radius: 10px;
}
.element {
    padding: 10px;
}
.imageDetail p{
    color: #ffffff;
}
.framework a span{
    color: #ffffff;
}
