
    <mat-card>
        <img mat-card-image src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="{{serie.title}}">
        <mat-card-title>{{serie.title}}</mat-card-title>
        <mat-card-title>{{serie.description}}</mat-card-title>
      <!-- <mat-card-title>Writer: {{character.comics.available}}</mat-card-title>  -->  
        <mat-card-title>Starting year: {{serie.startYear}}</mat-card-title>
        <mat-card-title>Ending year: {{serie.endYear}}</mat-card-title>
        <mat-card-title>Type: {{serie.type}}</mat-card-title>
        <mat-card-title>Rating: {{serie.rating}}</mat-card-title>
    </mat-card>



