<div class="imageDetail"
*ngFor="let character of characterDetail | async" style="padding: 5px;">
    <div class="framework">
        <a href="characters"><span> Back</span></a>
        <img mat-card-image src="{{character.thumbnail.path}}.{{character.thumbnail.extension}}" alt="{{character.title}}">      
        <!--<p>El numero es: {{character.id}}</p>-->
        <div class="row">
            <div  *ngIf="character.description !== ''">
                <mat-card-title><p>Description:</p>{{character.description}}</mat-card-title>
            </div>
            <div  *ngIf="character.description == ''">
                <mat-card-title><p>Description:</p> Not available</mat-card-title>
            </div>
            <p>List of comics:</p>
            <div class="comics"
            *ngFor="let comic of characterDetailComics | async as data" style="padding: 5px;">
                <div class="comicsList">
                    <div class="element">
                        <a [routerLink]="['/comics',comic.id]" target="" fxFlex mat-flat-button color="primary"><img class="thumbnail" src="{{comic.thumbnail.path}}.{{comic.thumbnail.extension}}" alt="{{comic.title}}"></a>
                    </div>
                    <div class="element">{{comic.title}}</div>
                    <div class="element">{{comic.prices[0].price}}$</div>
                   <!--
                       <div *ngIf="comic.creators.items[0].role == 'editor'"><p>Editor:</p>{{comic.creators.items[0].name}}</div>
                   --> 
                </div>
            </div>
            <p>List of series:</p>
            <div class="series"
            *ngFor="let serie of characterDetailSeries | async as data" style="padding: 5px;">
                <div class="seriesList">
                    <div class="element">
                        <a [routerLink]="['/series',serie.id]" target="" fxFlex mat-flat-button color="primary"><img class="thumbnail" src="{{serie.thumbnail.path}}.{{serie.thumbnail.extension}}" alt="{{serie.title}}"></a>
                    </div>
                    <div class="element"><p>Title:</p>{{serie.title}}</div>
                    <div class="element"><p>Starting Year:</p>{{serie.startYear}}</div>
                    <div class="element"><p>Ending Year:</p>{{serie.endYear}}</div>
                    <div class="element"  *ngIf="serie.rating !== ''"><p>Rate:</p>{{serie.rating}}</div>
                    <div class="element"  *ngIf="serie.type !== ''"><p>Type:</p>{{serie.type}}</div>
                   <!--
                       <div *ngIf="comic.creators.items[0].role == 'editor'"><p>Editor:</p>{{comic.creators.items[0].name}}</div>
                   --> 
                </div>
            </div>
        </div>       
    </div>
</div>
